* {
    box-sizing: border-box;
}

.green-text {
    color: #00613d;
}

.orange-text {
    color:#f15a24 !important;
}

.img {
	width: 100%;
	height: auto;
}

.fs-12 {
	font-size: 12px !important;
}
.fs-14 {
	font-size: 14px !important;
}

a:link, a:visited {
	text-decoration: none;
}

footer {
	background-color: #f6f6f6;
}

.bg-orange {
    background-color: #f15a24 !important;
    color: #fff !important;
}

/* border dotted   */
.border-gray-dotted {
    border: 1px dotted #637280;
    border-radius: 15px;
    background-color: #6372800f;
}

/* border ngân hàng*/
.bank-border {
    border: 1px solid rgba(99,114,128,.2);
    margin: 4px;
}

/* Chọn phương thức thanh toán */
.bank-selected  {
    background-color: #ffe2d7;
    color: #ef5222;
    border: 1px dotted #ef5222 !important;
}


/* thanh progress */


.step-wizard {
    /*height: 100vh; */
    margin: auto;
    width: 100%;
    max-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.step-wizard-list{
    background: #fff;
    /* box-shadow: 0 15px 25px rgba(0,0,0,0.1); */
    color: #333;
    list-style-type: none;
    border-radius: 10px;
    display: flex;
    padding: 10px;
    position: relative;
    z-index: 10;
    width: 100%;
}

.step-wizard-item{
    padding: 0 10px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive:1;
    flex-grow: 1;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    min-width: 50px;
    position: relative;
}
.step-wizard-item + .step-wizard-item:after{
    content: "";
    position: absolute;
    left: 0;
    top: 19px;
    background: #f15a24;
    width: 100%;
    height: 2px;
    transform: translateX(-50%);
    z-index: -10;
}
.progress-count{
    height: 40px;
    width:40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-weight: 600;
    margin: 0 auto;
    position: relative;
    z-index:10;
    color: transparent;
}
.progress-count:after{
    content: "";
    height: 40px;
    width: 40px;
    background: #f15a24;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    z-index: -10;
}
.progress-count:before{
    content: "";
    height: 10px;
    width: 20px;
    border-left: 3px solid #fff;
    border-bottom: 3px solid #fff;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -60%) rotate(-45deg);
    transform-origin: center center;
}
.progress-label{
    font-size: 11px;
    font-weight: 600;
    margin-top: 10px;
}
.current-item .progress-count:before,
.current-item ~ .step-wizard-item .progress-count:before{
    display: none;
}
.current-item ~ .step-wizard-item .progress-count:after{
    height:10px;
    width:10px;
}
.current-item ~ .step-wizard-item .progress-label{
    opacity: 0.5;
}
.current-item .progress-count:after{
    background: #fff;
    border: 2px solid #f15a24;
}
.current-item .progress-count{
    color: #f15a24;
}




/*  ------------------ Thanh Chuyen Xe -------------- */
.thanhChuyenXe:hover {
    transform: scale(1.1);
}
.thanhChuyenXe {
    transition: 0.5s;
}
@media (min-width: 576px) {
    .btnQuayLai, .btnTiepTuc {
        width: 300px;
    }
}

@media (max-width: 576px) {
    .btnQuayLai, .btnTiepTuc {
        width: 150px;
    }
    
}

@media (min-width: 1000px) {
    #btnTimXe {
        padding: .5rem 1rem !important;
        font-size: 1rem !important;
        left: 80% !important;
    }
}

