<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans.xsd
	   		http://www.springframework.org/schema/context
	   		http://www.springframework.org/schema/context/spring-context.xsd
	   		http://www.springframework.org/schema/tx 
			http://www.springframework.org/schema/tx/spring-tx.xsd
			http://www.springframework.org/schema/mvc 
			http://www.springframework.org/schema/mvc/spring-mvc.xsd">

	<!-- Cấu hình interceptor --> 
	<mvc:interceptors>  
		<!-- Lọc tất cả các URL 
		<bean class="ptithcm.interceptor.LoggerInterceptor" />
		
		 Chỉ lọc các URL theo path
		<mvc:interceptor>
			<mvc:mapping path="/home/**"/>
			<mvc:exclude-mapping path="/home/index.htm"/>
			<bean class="poly.interceptor.LoggerInterceptor" />
		</mvc:interceptor>
		 -->
		 
		  <mvc:interceptor>
			<mvc:mapping path="/site/nhanvien/**"/>
			<mvc:mapping path="/site/nghiepvu.htm"/>
			<mvc:mapping path="/site/themxe.htm"/>
			<mvc:mapping path="/site/chuyen_xe_hoan_thanh.htm"/>
			<mvc:mapping path="/site/danhdauxe.htm"/>
			<mvc:mapping path="/site/themchuyenxe.htm"/>
			<mvc:mapping path="/site/update2.htm"/>
			<mvc:mapping path="/site/thanh_toan/**.htm"/>
			<mvc:mapping path="/site/timkiem2.htm"/>
			<mvc:mapping path="/site/loaixel.htm"/>
			<mvc:mapping path="/site/bienxel.htm"/>
			<mvc:mapping path="/site/tuyenxel.htm"/>


			<mvc:exclude-mapping path="/site/index.htm"/>
			<mvc:exclude-mapping path="/site/login.htm"/>
			<mvc:exclude-mapping path="/site/login1.htm"/>
			<mvc:exclude-mapping path="/site/register.htm"/>
			<mvc:exclude-mapping path="/site/datve/**"/>
			<mvc:exclude-mapping path="/site/index.htm"/>
			<mvc:exclude-mapping path="/site/sign_in.htm"/>
			<mvc:exclude-mapping path="/site/forgotPassword.htm"/>
			<mvc:exclude-mapping path="/site/register.htm"/>
			<mvc:exclude-mapping path="/site/sign_up.htm"/>
			<mvc:exclude-mapping path="/site/redirect.htm"/>
			<bean class="ptithcm.interceptor.NhanvienInterceptor" />
		</mvc:interceptor>
		
		<mvc:interceptor>
	
			<mvc:mapping path="/site/user/**"/>
			<mvc:mapping path="/site/timkiem.htm"/>
			<mvc:mapping path="/site/update.htm"/>
			<mvc:mapping path="/site/changepassword.htm"/>
			<mvc:mapping path="/site/changepassword/**"/>
			<mvc:mapping path="/site/userbookedticket/**"/>
			<mvc:mapping path="/site/datve/**"/>
			<mvc:mapping path="/site/sign_in.htm"/>
			<mvc:mapping path="/site/forgotPassword.htm"/>
			<mvc:mapping path="/site/register.htm"/>
			<mvc:mapping path="/site/sign_up.htm"/>
			<mvc:mapping path="/site/redirect.htm"/>
			<mvc:mapping path="/site/chitiet/**"/>
			<mvc:mapping path="/site/huyve/**"/>
			<mvc:mapping path="/site/in_for/**"/>
			
			<mvc:exclude-mapping path="/site/index.htm"/>
			<mvc:exclude-mapping path="/site/login.htm"/>
			<mvc:exclude-mapping path="/site/login1.htm"/>
			<mvc:exclude-mapping path="/site/register.htm"/>
			<mvc:exclude-mapping path="/site/datve/**"/>
			<mvc:exclude-mapping path="/site/index.htm"/>
			<mvc:exclude-mapping path="/site/sign_in.htm"/>
			<mvc:exclude-mapping path="/site/forgotPassword.htm"/>
			<mvc:exclude-mapping path="/site/register.htm"/>
			<mvc:exclude-mapping path="/site/sign_up.htm"/>
			<mvc:exclude-mapping path="/site/redirect.htm"/>
			<bean class="ptithcm.interceptor.KhachhangInterceptor" />
		</mvc:interceptor>
		<!--  
		 <mvc:interceptor>
			<mvc:mapping path="/site/**"/>
			<mvc:mapping path="/site/chuyen_xe_hoan_thanh.htm"/>
			<mvc:exclude-mapping path="/site/index.htm"/>
			<mvc:exclude-mapping path="/site/login.htm"/>
			<mvc:exclude-mapping path="/site/login1.htm"/>
			<mvc:exclude-mapping path="/site/register.htm"/>
			<mvc:exclude-mapping path="/site/datve/**"/>
			<mvc:exclude-mapping path="/site/index.htm"/>
			<mvc:exclude-mapping path="/site/sign_in.htm"/>
			<mvc:exclude-mapping path="/site/forgotPassword.htm"/>
			<mvc:exclude-mapping path="/site/register.htm"/>
			<mvc:exclude-mapping path="/site/sign_up.htm"/>
			<mvc:exclude-mapping path="/site/redirect.htm"/>
			<bean class="ptithcm.interceptor.LoggerInterceptor" />
		</mvc:interceptor>
		-->
		
		
		 
	</mvc:interceptors>

</beans>